table {
  margin: 0 auto;
  border: 0.5px dotted black;
  border-collapse: collapse;
  width: fit-content;
}
td {
  border: 0.5px dotted black;
  padding-left: 10px;
  padding-right: 30px;
  color: goldenrod;
}
th {
  border: 0.5px dotted black;
}
td img {
  width: 80px;
}

.input-quantity {
  width: 25px;
}

.btn-minus {
  color: white;
  background-color: gray;
}

.btn-add {
  background-color: rgb(194, 239, 239);
}
.btn-cancel {
  color: white;
  background-color: red;
}

.tfoot-total {
  text-align: right;
}
