div {
  background-color: aqua;
  border: 3px solid slateblue;
  border-radius: 50%;
}
.classname1 {
  color: black;
  background-color: gold;
}
.fontclass {
  font-size: 40px;
}
#img {
  background-image: url(/images/destination_5.jpg);
  background-size: cover;
}
p.nest {
  color: blueviolet;
  background-color: brown;
}
