/* .carousel {
  border: 2px solid red;
  background-size: cover;
  position: relative;
} */

.img-carousel {
  width: 50%;
  position: absolute;
}

.btn-carousel {
  position: absolute;
  margin: 30% 22%;
}
.btn-carousel button:hover {
  border: 2px solid blue;
}
